<html>
    <head>
        <title>Saving the XSS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body class="container">
        <div class="page-header">
            <h1>Saving the XSS</h1>
        </div>

        {{#if posts.length}}
            <div class="container row">
                <ul>
                {{#each posts}}
                    <li>{{{this.content}}}</li>
                {{/each}}
                </ul>
            </div>
        {{/if}}

        <div class="container row">
            <div class="jumbotron col-sm-8 pull-center">
                <form method="post">
                    <div>
                        <textarea name="content" rows="5" cols="60"></textarea>
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Post"/>
                    </div>
                </form>    
            </div>
        </div>
    </body>
</html>